/* ---------------------- */
/* Top SVG */
/* ---------------------- */
.top-svg {
  margin-top: -2%;
}
/* ---------------------- */
/* Conatiner design */
/* ---------------------- */
.form-logo-container {
  margin-top: -6%;
}

.logo-container {
  width: 100%;
  justify-content: center;
}
.logo-container > a > img {
  height: 60px;
}

.form-container {
  margin-top: 2%;
  padding: 2% 5%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 560px;
}
.form-container > h2 {
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 15%;
  text-align: center;
  text-transform: uppercase;
}

.input-container > input {
  width: 100%;
  height: 50px;
  padding: 4px 6px;
  font-size: 15px;
  padding-left: 20px;
  border-radius: 6px;
  margin-bottom: 5%;
  border: 2px solid var(--primary-lighter-color);
  z-index: 0;
  font-size: 14px;
  color: #00000042;
  text-transform: capitalize;
  transition: all 0.3s;
}

.input-container > input:hover {
  border: 2px solid var(--black);
}

.input-container {
  position: relative;
}

.mobile-lable {
  position: absolute;
  top: 12%;
  left: 3%;
  font-size: 12px;
  color: gray;
  z-index: 100;
  padding: 2px 8px;
  background-color: vaR(--white);
}

input[type="submit"] {
  width: 100%;
  height: 50px;
  padding: 4px 6px;
  font-size: 15px;
  border-radius: 6px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5%;
  border: 0.8px solid var(--primary-lighter-color);
  box-shadow: 0 0 #0003, 0 0 #00000024, 0 0 #0000001f;
  background-color: #0000001f;
  color: #00000042;
  font-size: 14px;
  cursor: pointer;
}

/* ---------------------- */
/* Bottom SVG */
/* ---------------------- */

.bottom-svg {
  padding-top: 5%;
  width: 100%;
  font-size: 18px;
  color: #7c7c7c;
  text-align: center;
  font-weight: bold;
  justify-content: center;
}
